html{
  height: 100%;
}
body {
  min-height: 100%;
  background: url('dark_embroidery.png');
}
.content{
	margin: 10px 0;
}
.row > [class*="col-"] {
  margin-bottom: 20px;
}
p,.pagination{
	margin: 0;
}
.white-box{
	background-color: white;
	overflow: auto;
}
table th, table td,p,a{
	font-size: 10px !important;	
}
.btn.btn-link{
	padding: 0 !important;
}
.white-box table td,.white-box table th{
	position: relative;
	white-space: nowrap;
	height: 27px;
	padding: 2px !important;
	text-align: center;
}
.has_tooltip{
	content: " ";
	display: block;
	height: 100%;
	width: 100%;
	background: transparent;
	border: 1px solid orange;
	position: absolute;
	left: 0;
	top: 0;
}
.found-box{
	padding: 10px;
}
.tablesaw-advance.minimap{
	background-color: white,
}
.tooltip_content{
	display: none;
}
table.table{
	margin-bottom: 0 !important;
}
table.table thead{
	background-color: lightgray;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th{
	border-bottom-width: 1px;
}
.responsive-image{
	width: 100%;
	height: auto;
}